@mixin kubeflow-news-p-strip {
  .p-strip--image {
    @extend %vf-strip;

    background-blend-mode: overlay;
    background-color: $color-brand;
    background-image: url('#{$assets-path}0c19ad2a-kubeflownews-bckg.png');

    @media (min-width: $breakpoint-medium) {
      text-align: center;
    }

    &__content {
      display: inline-block;
      max-width: 450px;
    }
  }
}
