@mixin kubeflow-news-p-lists {
  .p-inline-list {
    justify-content: flex-end;
    margin-bottom: 0;
    text-align: right;

    @media (max-width: $breakpoint-small) {
      justify-content: flex-start;
      text-align: left;
    }

    :first-child {
      @media (max-width: $breakpoint-small) {
        margin-right: 0;
      }
    }
  }
}
