@mixin kubeflow-news-p-navigation {
  .p-navigation {
    &__logo {
      font-weight: 500;
      height: auto;
      padding: 0.75rem 0;
    }

    &__banner {
      padding-left: 0;
    }

    &__link a::before {
      @media (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    .row {
      grid-gap: 0;
    }
  }
}
