@mixin kubeflow-news-p-buttons {
  .p-button {
    background-color: #496af8;
    border-color: #496af8;
    border-radius: 20px;
    color: #fff;
    min-width: 170px;

    &:visited {
      color: #fff;
    }
  }
}
