<div>

  <hr>
  <p class="p-heading--four"><a href="#">{{ article.title.rendered|safe }}</a></p>
  <p>{{ article.excerpt.raw|safe }}</p>
  <a href="{{ article.slug }}">Read more on InfoQ.com&nbsp;&rsaquo;</a>


  <hr>
  <p class="p-heading--four"><a href="#">{{ article.title.rendered|safe }}</a></p>
  <p>{{ article.excerpt.raw|safe }}</p>
  <a href="{{ article.slug }}">Read more on InfoQ.com&nbsp;&rsaquo;</a>
  <hr>
  <p class="p-heading--four"><a href="#">{{ article.title.rendered|safe }}</a></p>
  <p>{{ article.excerpt.raw|safe }}</p>
  <a href="{{ article.slug }}">Read more on InfoQ.com&nbsp;&rsaquo;</a>
</div>