{% for related_article in related_articles %}
<div class="p-media-object" style="margin-bottom: 0px">
  <div class="p-media-object__details">
    <h3 class="p-heading--four p-media-object__title">
      <a href="{{ related_article.slug }}">{{ related_article.title.rendered|safe }}</a>
    </h3>
    <div class="p-media-object__content">
      <p>{{ article.excerpt.raw|replace('[…]', '…')|truncate(235) }}</p>
      <a href="{{ related_article.slug }}">Read more&nbsp;&rsaquo;</a>
    </div>
    {% if not(loop.last) %}
    <hr class="p-separator">
    {% endif %}
  </div>
</div>
{% endfor %}