<div class="col-12 p-media-object u-no-margin--bottom u-no-padding--bottom">
  <div class="row u-vertically-center p-media-object__details">
    {% if article.image and article.image.source_url %}
      <div class="col-4">
        <img src="https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto,w_460/{{ article.image.source_url }}" srcset="https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto,w_460/{{ article.image.source_url }} 460w, https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto,w_620/{{ article.image.source_url }} 620w, https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto,w_875/{{ article.image.source_url }} 875w" sizes="(min-width: 1031px) 460px, (max-width: 1030px) and (min-width: 876px) 460px, (max-width: 875px) and (min-width: 621px) 875px, (max-width: 620px) and (min-width: 461px) 620px, (max-width: 460px) 460px" alt="" />
        
      </div>
    {% endif %}

    <div class="col-8">
      <h3>
        <a href="{{ article.slug }}">{{ article.title.rendered|safe }}</a>
      </h3>

      <div class="p-media-object__content">
        <p>{{ article.date }}</p>
        <p>{{ article.excerpt.raw|safe|replace('[…]', '…')|truncate(235) }}</p>
        <a href="{{ article.slug }}">Read this week's news&nbsp;&rsaquo;</a>
      </div>
    </div>
  </div>
</div>