<section class="p-strip--dark is-deep p-strip--newsletter">
  <div class="row">
    <div class="col-12">
      <header>
        <h1>Kubeflow news</h1>
        <p class="p-heading--four">Subscribe to our weekly newsletter<br /> and get the highlights in your inbox every week</p>
      </header>

      <div>
        <form action="https://pages.canonical.com/index.php/leadCapture/save" method="post" id="mktoForm_3415">
        
          <div>
            <label class="u-off-screen" for="Email">Work email:*</label>
            <input id="Email" placeholder="Work email" name="Email" maxlength="255" type="email" required />
          </div>

          <p class="u-margin-medium--top">
            <small>In submitting this form, I confirm that I have read and agree to <a href="/legal/data-privacy/newsletter">Canonical’s Privacy Notice</a> and <a href="/legal/data-privacy">Privacy Policy</a>.</small>
          </p>

          <p class="u-no-margin--bottom">
            <input type="hidden" name="Consent_to_Processing__c" value="Yes" />
            <button class="p-button" type="submit">Subscribe now</button>
          </p>

          <input type="hidden" name="formid" value="3415" />
          <input type="hidden" name="lpId" value="" />
          <input type="hidden" name="munchkinId" value="066-EOV-335" />
          <input type="hidden" name="lpurl" value="" />
          <input type="hidden" name="ret" value="{{ request.url}}?newsletter=true" />
          <input type="hidden" name="cr" value="" />
          <input type="hidden" name="kw" value="" />
          <input type="hidden" name="q" value="" />
        </form>
      </div>
    </div>
  </div>
</div>