<h4>Newsletter Signup</h4>

<form action="" method="post" id="">
    <label for="Email">Email:*</label>
    <input id="Email" name="Email" maxlength="255" type="email" required />

    <input type="hidden" name="Consent_to_Processing__c" value="Yes" />
    <button type="submit" class="p-button--positive u-no-margin--bottom">Subscribe now</button>

    <input type="hidden" name="formid" value="" />
    <input type="hidden" name="lpId" value="" />
    <input type="hidden" name="subId" value="" />
    <input type="hidden" name="munchkinId" value="" />
    <input type="hidden" name="lpurl" value="" />
    <input type="hidden" name="ret" value="{{host_url[:-1]}}{{path}}?newsletter=true" />
    <input type="hidden" name="cr" value="" />
    <input type="hidden" name="kw" value="" />
    <input type="hidden" name="q" value="" />
</form>