{% extends 'base.html' %}

{% block content %}
  {% include 'blog/_newsletter-signup.html' %}

  {% if articles|length > 0 %}
    <section class="p-strip is-bordered">
      <div class="row">
        <div class="col-12">
          <h2>This week's news</h2>
          {% for article in articles[0:1] %}
            {% include 'blog/_card.html' %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
  
  {% if articles|length > 1 %}
    <section class="p-strip">
      <div class="row">
        <div class="col-12">
          <h2>Previous weeks news</h2>
          
          {% for article in articles[1:5] %}
            {% include 'blog/_card.html' %}

            <hr class="u-sv3" />
          {% endfor %}

          <a class="p-button" href="/archives">See all</a>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}