{% extends 'base.html' %}

{% block title %}Kubeflow News{% endblock %}

{% block content %}
  {% include 'blog/_newsletter-success.html' %}

  <header class="p-strip--dark p-strip--image" style="text-align: left">
    <div class="row">
      <div class="col-8">    
        <h1>Kubeflow news</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-8">
        <h2 class="p-heading--four">Sunt iste nostrum voluptatibus, suscipit dolore blanditiis quod dolorem nihil sint ad, velit aut soluta!</h2>
      </div>
    </div>
  </header>
  
  <section class="p-strip">
    <div class="row">
      <div class="col-7">
        {% for article in articles[0:10] %}
          {{ article.content.rendered|safe }}

          {% if not loop.last %}
          <hr class="p-separator" />
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-5">
        {% include '/blog/_newsletter-signup-form.html' %}
      </div>
    </div>
  </section>

  {% include '/blog/_pagination.html' %}
{% endblock %}