{% extends 'base.html' %}

{% block content %}
  {% include 'blog/_newsletter-signup.html' %}

  <section class="p-strip u-no-padding--bottom">
    <div class="row">
      <div class="col-12">
        <h2>This week's news</h2>
        <hr />
        <div class="row">
          {% for article in articles[0:1] %}
            {% include 'blog/_media-object_hero.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  
  {% if articles|length > 1 %}
    <section class="p-strip">
      <div class="row">
        <div class="col-12">
          <h2>Previous weeks news</h2>
          <hr />
          <div class="row">
            {% for article in articles[1:7] %}
              <div class="col-6">
                {% include 'blog/_media-object.html' %}
                <hr class="u-hide--medium u-hide--large" />
              </div>
              {% if loop.index % 2 == 0 %}
                </div>
                <hr class="u-hide--small" />
                <div class="row">
              {% endif %}
            {% endfor %}
          </div>
          
          <a class="p-button u-no-margin--bottom" href="/archives">See all</a>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}