<!doctype html>

<html class="{% block extra_html_class %}{% endblock %}" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{{ title }}{% endblock %} | Kubeflow News</title>

    <link rel="preconnect" href="https://assets.ubuntu.com">

    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>

    <link rel="canonical" href="https://kubeflow-news.com" />

    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/374b7214-favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/7817315c-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/b3026a35-favicon-96x96.png" sizes="96x96" />

    <link rel="apple-touch-icon" sizes="144x144" href="https://assets.ubuntu.com/v1/93bc5a22-apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://assets.ubuntu.com/v1/b349d3e0-apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://assets.ubuntu.com/a181ca90-apple-icon-72x72.png" />
    <link rel="apple-touch-icon" href="https://assets.ubuntu.com/v1/b23068a3-apple-icon.png" />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% include '_navigation.html' %}

    <main class="u-no-margin--top">
      <div id="main-content">
        {% block content %}{% endblock content %}
      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
